

.s1{
    width: 100%;
    height: fit-content;
    background-image: url(img/unsplash_xh8SgY9_ob4.png);
    background-color:rgb(72,90,130);
    background-blend-mode: multiply;
    background-position: 50%; 
}
.s1boxes{
    width: 100%;
    padding: 20px 50px 100px 50px;
}

.systemnavbar{

width: 100%;
display: flex;
justify-content: space-between;

}

.logo p{
    text-align: center;
    font-size: 12px;
    color: white;
    filter: brightness(70%);
   
}
.systemnavbarbox1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.systemnavbarbox1 div a{
    margin-left: 20px;
}
.systemnavbarbox1 div input{
   border: none;
   border-radius: 30px;
   padding-left: 10px;
   font-size: 14px;
   
}

.phonenavbar{
    display: none;
}

.hero{
    width: 70%;
    margin-top: 120px;
}

.hero h2{
    color: white;
    font-size: 40px;
    /* width: 100%; */
    font-weight: Bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.hero p{
    color: white;
    font-size: 20px;
    /* width: 100%; */
    word-spacing: 5px;
    /* font-weight: Bold; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
}
.hero div button{
    margin-top: 5px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 12px;

}

.s2{
    width: 100%;
    padding: 50px 0px;
    height: auto;
    background-color: #eef2fb;
    /* border-radius: 0px 0px 30px 0px; */
}

.s2boxes{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 100%;
}

.s2box1{
    width: 60%;
    
}
.s2box1 img{
    width: 150%;
}
.s2box2 {
    width: 100%;
    
}
.s2box2div1 h5{
    width: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #31467a;
}
.s2box2div1 p{
    width: 75%;
    margin-top: 30px;
    /* letter-spacing: 2px; */
    word-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #31467a;
}

.s2box2div2{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    padding: 0px 50px 0px 0px;
    justify-content: space-between;
    /* align-items: center; */
}
.s2box2div2 div{
    display: flex;
    width: 100%;
    font-size: 14px;
    padding: 10px ;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #dae4fc;
}

.s2box2div2 div img{
    width: 15%;
    height: 5vh;
}

.s2box2div3{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    padding: 0px 50px 0px 0px;
    /* align-items: center; */
}
.s2box2div3 div{
    display: flex;
    width: 100%;
    font-size: 14px;
    padding: 10px ;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #dae4fc;
}

.s2box2div3 div img{
    width: 15%;
    height: 5vh;
}

.s3{
    width: 100%;
    height: auto;
    background-color: #e4e9fc;
    /* border-radius:0px 0px 30px 30px; */
}

.s3boxes{
    width: 100%;
    padding: 50px 70px;
}

.s3box1 h5{
    font-size: 40px;
    color: #31467a;
}
.s3box1 p{
    font-size: 20px;
    margin-top: 20px;
    color: #31467a;
}

.s3box2{
    display: flex;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#31467a ;
    margin-top: 100px;
    
}

.s3box2 span img, .s3box3 span img{
    width: 100%;
}

.s3box3{
    display: flex;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#31467a ;
    margin-top: 100px;

}

.s4{
    width: 100%;
    height: auto;
    background-color: #eef2fb;
    
}
.s4boxes{
    width: 100%;
    padding: 50px 70px;
    display: flex;
    gap: 100px;
}

.s4box1,.s4box2{
    width: 100%;
}

.s4box1 h5{
    font-size: 40px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #31467a;
    margin-top: 30px;
}
.s4box1 p{
    font-size: 20px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #31467a;
    margin-top: 50px;
}

.s4box1btn1{
    margin-top: 60px;
    border: none;
    border-radius: 20px;
    background-color: #31467a;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
}
.s4box1btn2{
    margin-top: 60px;
    border: none;
    border-radius: 20px;
    background-color: #abc3ff;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
}

.s4box2 img{
    width: 80%;
}

.footer{
    width: 100%;
    height: auto;
    background-color: #abc3ff;
    padding: 50px 70px;
}

.footerboxes{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.footerbox1, .footerbox2, .footerbox3{
    width: 100%;
}

.footer span{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.footer span img{
    width: 5%;
}

.footer h6{
    font-size: 25px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.footer p{
    font-size: 14px;
    color: white;
}

.footerbox3{
    padding-top: 30px;
}




@media screen and (max-width: 1000px){
  
    .systemnavbar{
        display: none;
    }

    .phonenavbar{
        display: block;
    }

    .phonenavbar ul li a{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3.5vw;
    }

    .logo img{
        width: 45%;
    }
    .logo p{
        font-size: 1.5vw;
        /* text-align: start; */
        width: 40%;
    }
    .offcanvas{
        background: url(img/unsplash_xh8SgY9_ob4.png);
        background-color:rgb(72,90,130);
        background-blend-mode: multiply;
        background-position:100%;
        height: fit-content;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
 
  .s1boxes{
    padding: 5px 0px 30px 0px;
  

  }

  .hero{
    width: 100%;
    margin-top: 30px;
    padding: 0px 12px;
  }

  .signupimage{
    display: none;
  }

  .hero h2{
    font-size: 6vw;
  }
  
.hero p{
    font-size: 2.8vw;
}

.s2{
width: 100%;
padding: 30px 12px;
}
.s2boxes{
width: 100%;
}

.s2box1{
    display: none;
    
}


.s2box2div1 h5{
    font-size: 6vw;
    width: 100%;
    
    
}

.s2box2div1 p{
    width: 100%;
    font-size: 3vw;
}

.s2box2div2{
    width: 100%;
    padding: 0px 0px 0px 0px;
    /* gap: 10px; */
}

.s2box2div2 div{
    font-size: 2vw;
    padding: 5px;
    width: 100%;
    
    }

.s2box2div3{
    width: 100%;
    padding: 0px 0px 0px 0px;
    /* gap: 10px; */
}

.s2box2div3 div{
    font-size: 2vw;
    padding: 5px;
    width: 100%;
    
    }

.s2box2div2 div img, .s2box2div3 div img{
        width: 25%;
        /* height: 5vh; */
    }

.s3{
    width: 100%;
    padding:30px 12px;
}
.s3boxes{
    width: 100%;
    padding: 0px;
}

.s3box1 h5{
    font-size: 6vw;
    font-weight: bold;
}
.s3box1 p{
    font-size: 3vw;
}

.s3box2{
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}
.s3box3{
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

.s3box2 span p, .s3box3 span p{
    font-size: 3vw;
}

.s4boxes{
    padding:30px 12px;
    gap: 0px;
}

.s4box2{
    display: none;
}

.s4box1 h5{
    font-size: 7vw;
    margin-top: 0px;

}

.s4box1 p{
    font-size: 3vw;
    margin-top: 20px;
}

.s4box1btn1, .s4box1btn2{
    margin-top: 20px;
    gap: 30px;
}

.footer{
    padding:20px 12px;
}

.footerboxes{
    flex-direction: column;
}

.footer span img{
    width: 10%;
}

.footer h6{
    font-size: 4vw;
}

.footer p{
font-size: 2.5vw;
}


}

